body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;

    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}

#devicebar {
    background-color: #313131;
    color: #ffffff;
    width: 98%;
    height: 40px;
    line-height: 40px;
    padding-left: 2%;
}

#devicebar #menubutton {
    float: right;
    padding-top: 5px;
    padding-right: 10px;
    cursor: pointer;
}

#menu {
    position: absolute;
    padding-left: 30px;
    top: 40px;
    right: 0px;
    background-color: #313131;
    width: 300px;
    padding-bottom: 20px;
    color: #ffffff;
    display:none;
}

#menu .button {
    position: relative;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #545454; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#868686, #545454);
    background: -o-linear-gradient(#868686, #545454); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#868686, #545454); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#868686, #545454);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 800;
    cursor: pointer;
}

#menu .button:hover {
    background: #868686; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#545454, #868686);
    background: -o-linear-gradient(#545454, #868686); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#545454, #868686); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#545454, #868686);
}

.devicebar-device {
    width: 200px;
    height: 40px;
    padding-left: 5px;
    text-align: center;
    float: left;
}

.devicebar-device:hover {
    background-color: #737373;
    cursor: pointer;
}

.devicebar-device-active {
    background-color: #737373;
}

#devices-mobile-icon {
    float: left;
}

#devices-mobile-active {
    position: relative;
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    text-align: center;
    cursor: pointer;
}

.devicebar-device-mobile {
    position: relative;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

#devices-mobile-list {
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: #313131;
    min-width: 300px;
    color: #ffffff;
    display:none;
    z-index: 900;
}

.card {
    background-color: #fdffe8;
    margin-left: 2vw;
    margin-top: 4vh;
    /*width: 47%;
    min-width: 400px;*/
    height: 43vh;
    float: left;
    z-index: 500;

    -webkit-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);
    transition: box-shadow 0.25s ease-in-out;
}

@media screen and (max-width:1080px) {
    .card {
        width: 95%;
    }

    #devices {
        display: none;
    }

    #devices-mobile {
        display: block;
        float: left;
    }

    .current-value-value {
        font-size: 15vw;
    }
}

@media screen and (min-width:1081px) {
    .card {
        width: 47%;
    }

    #devices {
        display:block;
    }

    #devices-mobile {
        display: none;
    }

    .current-value-value {
        font-size: 75pt;
    }
}

#current-humidity-value {
    float: right;
}

#listview {
    z-index: 1000;
    position: absolute;
    display: none;
    background-color: white; 
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;

    background-color: #fdffe8;

    -webkit-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.75);
}

#listview_title {
    background-color: #fdff9d;
	display: flex;
    align-items: center;
    width: 97%;
    height: 10%;
    padding-left: 3%;
    margin: 0px;
    font-style: italic;
    font-size: 3vh;
    display: flex;
}

#listview_content td {
    padding-right: 20px;
}

#listview_content {
    position: relative;
    padding-left: 30px;
    overflow: auto;
    height: 90%;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 33px -6px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 33px -6px rgba(0,123,255,1);
    box-shadow: 0px 0px 33px -6px rgba(0,123,255,1);
    transition: box-shadow 0.25s ease-in-out;
}

.card-title {
    background-color: #fdff9d;
	display: flex;
    align-items: center;
    width: 97%;
    height: 10%;
    padding-left: 3%;
    font-style: italic;
    font-size: 3vh;
}

.card-content {
    position : relative;
    width: 94%;
    height: 84%;
    padding: 3%;
}

#current-time {
    width: 100%;
    height: 30%;
}

.current-value {
    width: 50%;
    height: 70%;
    float: left;
}

#sensor-name {
    width: 100%;
    height: 50%;
    font-size: 6vh;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

#loading {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(75,75,75,0.8);
}

.graph-loading {
    z-index: 600;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
